<div id="checkout" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/customers/checkout.less</em>, <em>assets/js/pages/customers/checkout.page.js</em>, and <em>api/controllers/customers/view-checkout.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
