<div id="ordersummary" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/customers/ordersummary.less</em>, <em>assets/js/pages/customers/ordersummary.page.js</em>, and <em>api/controllers/customers/view-ordersummary.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
