<div id="cart" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/cart.less</em>, <em>assets/js/pages/cart.page.js</em>, and <em>api/controllers/view-cart.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
