<div id="contracts" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/contracts.less</em>, <em>assets/js/pages/contracts.page.js</em>, and <em>api/controllers/view-contracts.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
