<div id="payment" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/company/payment.less</em>, <em>assets/js/pages/company/payment.page.js</em>, and <em>api/controllers/company/view-payment.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
