<div id="quotedetails" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/company/quotedetails.less</em>, <em>assets/js/pages/company/quotedetails.page.js</em>, and <em>api/controllers/company/view-quotedetails.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
